.order_line_item_details

  %img.glyph-heading{class: locals[:status_glyph], src: '/tracking/images/empty.png'}
  %h2#vodafone-status.status-heading= locals[:details].status_heading
  -if locals[:details].status_message
    %p.status-message= locals[:details].status_message

  -if locals[:details].auspost_status_heading
    %img.glyph-heading.truck{src: '/tracking/images/empty.png'}
    %h2#auspost-status.status-heading= locals[:details].auspost_status_heading

  -if locals[:details].is_on_backorder?
    %h3.ship-date-heading Expected Shipping Date
    -if locals[:details].estimated_shipping_date
      %p.ship-date= locals[:details].estimated_shipping_date
    -else
      %p.ship-message= locals[:details].shipping_estimate_message

  = haml :_tracking_info, locals: { |
    tracking: locals[:details].tracking, auspost_error: locals[:details].auspost_error?, auspost_business_exception: locals[:details].auspost_business_exception? |
    }  if locals[:details].show_tracking_info?  |

  -unless locals[:details].items.empty?
    %h3.order-details-heading Order Details
    %table.order-details
      -locals[:details].items.each do |item|
        %tr.item-row
          %td.item-quantity= "#{item[:item_quantity]} x"
          %td.item&= item[:description]
          %td.item-status= item[:status]
