.order_line_item_details

  %img.glyph-heading{class: locals[:status_glyph], src: '/tracking/images/empty.png'}
  %h2#vodafone-status.status-heading= locals[:details].status_heading
  -if locals[:details].status_message
    %p.status-message= locals[:details].status_message

  -if locals[:details].is_on_backorder?
    -if locals[:details].estimated_shipping_date
      %h3.ship-date-heading Expected Shipping Date
      %p.ship-date= locals[:details].estimated_shipping_date
    -else
      .ship-message
        %a{href: 'http://www.vodafone.com.au/tools/order-tracking'}= locals[:details].shipping_estimate_message

  -if locals[:details].has_auspost_issue? || locals[:details].international?
    = haml :_tracking_status, locals: { status_message: "It's on the truck", auspost_number: locals[:details].auspost_number }
    %p#auspost-msg.auspost-status-message
      -if locals[:details].auspost_error?
        We’re currently working with Australia Post to update the location of your order. Please check back soon.
      -elsif locals[:details].auspost_business_exception? || locals[:details].international?
        Your order should arrive within 5 days.  If you need assistance, call us on 1555 from your Vodafone mobile or 1300 650 410 from any other phone.

  -else
    - locals[:details].shipments.each do |shipment|
      = haml :_tracking_status, locals: { status_message: shipment.auspost_status_heading, auspost_number: locals[:details].auspost_number }
      = haml :_tracking_info, locals: { tracking: shipment }  if locals[:details].show_tracking_info?

  -unless locals[:details].items.empty?
    %h3.order-details-heading Order Details
    %table.order-details
      -locals[:details].items.each do |item|
        %tr.item-row
          %td.item-quantity= "#{item[:item_quantity]} x"
          %td.item&= item[:description]
          %td.item-status= item[:status]
