- if locals[:shipping_details]
  %h2 Shipping details
  -if locals[:shipping_details].has_error?
    .alert
      .icon
        %img{src: 'images/alert_icon.png'}
      %span.msg= "There was an error while tracking your order: #{locals[:shipping_details].error_message}"
  - else
    %p= "Status: #{locals[:shipping_details].status}"
    %table
      %tr
        %th Location
        %th Description
        %th Date/Time
        %th Signed by
      - locals[:shipping_details].events.each do |event|
        %tr
          %td= "#{event['location']}"
          %td= "#{event['description']}"
          %td= "#{event['date_time']}"
          %td= "#{event['signer']}"