%h3.tracking-info-heading Shipping Details

-if locals[:tracking]['error']
  %p.tracking-info-generic-msg Your order has been shipped.
- else
  %p TODO: display tracking infor here
-#
    %p= "Status: #{locals['status']}"
    %table
      %tr
        %th Location
        %th Description
        %th Date/Time
        %th Signed by
      - locals['events'].each do |event|
        %tr
          %td= "#{event['location']}"
          %td= "#{event['description']}"
          %td= "#{event['date_time']}"
          %td= "#{event['signer']}"
