- locals[:details].reject { |key, value| ['tracking'].include?(key) }.each do |key, value|
  -if value.class == Hash
    %p= "#{key}"
    .margin-wrapper=haml :trace_without_styling, :locals => { :details => value }
  -else
    %p= "#{key}: #{value}"


= haml :_shipping_info, locals: locals[:details]['tracking'] if locals[:details]['tracking']

= haml :_info_links