%h1 Trace Your Order
%p
  %span.order-number-label Order Status for order number:
  %span.order-number= locals[:details].order_number
%h2.status-heading= locals[:details].status_heading
%p.status-message= locals[:details].status_message

-if locals[:details].is_on_backorder?
  %h3.ship-date-heading Expected Shipping Date
  -if locals[:details].estimated_shipping_date
    %p.ship-date= locals[:details].estimated_shipping_date
  -else
    %p.ship-message= locals[:details].shipping_estimate_message

-unless locals[:details].items.empty?
  %h3.order-details-heading Order Details
  .order-details
    -locals[:details].items.each do |item|
      %p.item&= "#{item[:item_quantity]} x #{item[:description]}"

= haml :_tracking_info, locals: { tracking: locals[:details].tracking } if locals[:details].tracking

= haml :_info_links
